{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'portfolio/style.css'%}">
        <title>página</title>
        <script src="https://kit.fontawesome.com/eefeb9f798.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="container">
        <header>
            <nav class="navbar">
              <div class="navbar-menu">
                <div class="dropdown">
                  <a href="#" class="dropbtn"><i class="fa-solid fa-bars fa-2x" style="color: #ffffff;"></i></a>
                  <div class="dropdown-content">
                    <a href="#sobremi">Sobre mi</a>
                    <a href="#">Proyectos</a>
                    <a href="#">Vemos</a>
                    <a href="#">Contacto</a>
                  </div>
                </div>
                </div>                           
                <div class="navbar-logo">
                    <a href="#" id="logo"><img src="python.png" alt="Logo"></a>
                </div>
                <div class="navbar-links">
                    <a href="https://www.linkedin.com/in/juan-ignacio-aguirre/" target="_blank"><i class="fa-brands fa-linkedin-in fa-2x" style="color: #ffffff;"></i></a>
                </div>
            </nav>
          </header>
        <div class="name">
            <h1>Juan Ignacio Aguirre</h1>
            <h2>Junior Developer</h2>
        </div>
      </div>
      <div class="sobremi" id="sobremi">
        <div class="sobremi_container">
          <div class="sobremi_p">
            <h1>Sobre mi</h1>
            <p>Soy un estudiante del segundo año de la carrera ingeniería en informática, en la UADE. Tengo conocimientos sobre HTML, CSS, Python, Django, GIT y SQL.
              Tengo un nivel de inglés B2 certificado por la universidad de Cambridge, por el First Certificate exam, el cual aprobé en el año 2022, año en el cual también fui ganador de una Hackatón organizada por la empresa Acindar ArcelorMittal, junto con mi equipo logramos ser los ganadores de eso.</p>
          </div>
        </div>
      </div>
    </body>
</html>
</body>

</html>